.ingresar {
    padding: 5px;
    width: 2%;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    color: #85501e;
    text-decoration: none;
    font-size: 40px;
}

.h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: #333;
}